@import "src/variables";

.board-header {
  padding: 0 2em;
  display: flex;
  min-width: 890px;
  align-items: center;

  .board-release-btn {
    margin-left: auto;
  }

  .board-header-settings {
    margin-left: 1em;
  }
}

.search-form {
  display: inline;

  .search-bar {
    width: 240px;
    padding: 0.5em;
    border-radius: 8px;
    margin-left: 24px;
    border: 2px solid $jira-bg;
    appearance: none;
    background-color: $jira-bg;
    font-weight: bold;

    &:hover {
      background-color: $jira-hover;
    }

    &:focus {
      outline: none;
      border: 2px solid $jira-text-highlight;
      border-radius: 10px;
    }
  }

  .search-btn {
    background-color: transparent;
    padding: 8px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $jira-text-highlight;
    }
  }
}

.search-match {
  display: block;
  cursor: pointer;
  border: 2px solid $jira-bg;
  text-align: left;
  background-color: $jira-bg;
  margin: 8px 0 0 24px;
  padding: 0.5em 1em;
  border-radius: 8px;
  width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: $jira-hover;
  }

  &:focus {
    outline: none;
    border: 2px solid $jira-text-highlight;
    border-radius: 10px;
  }
}
