@import "src/variables";

.status-column {
  background-color: $jira-bg;
  flex: 1;
  min-width: 200px;
  margin: 16px 8px;
  padding: 8px 6px 0 6px;
  border-radius: 4px;
  min-height: 100%;
  height: fit-content;
  box-shadow: $jira-box-shadow-soft;

  .droppable-container {
    min-height: 300px;
  }
}