@import "src/variables";

.status-column {
  background-color: $jira-bg;
  flex: 1;
  min-width: 200px;
  margin: 16px 8px;
  padding: 6px;
  border-radius: 4px;
  min-height: 300px;
  height: fit-content;

  .status-column-header {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: $small-font;
    color: $jira-grey-text;

    .done-icon {
      padding-right: 4px;
    }
  }

  .droppable-container {
    min-height: inherit;
  }
}