@import "src/variables";

.details-form-first-row {
  display: flex;
  align-items: center;

  .issue-delete-btn {
    margin-left: auto;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.3s ease;
      color: $jira-text-highlight;
    }
  }
}