.menu-bar-header {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar-btn-container {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
}

.menu-bar-bottom-button {
  margin-top: auto;
}
