.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.dialog-hidden {
  display: none;
}


.dialog-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}