$sidenav-width: 240px;
$aside-width: 64px;
$jira-bg: rgb(244, 245, 247);
$jira-bg-blue: rgb(7, 71, 166);
$jira-hover: rgb(235, 236, 240);
$jira-grey-text: rgb(94, 108, 132);
$jira-text-highlight: rgb(0, 82, 204);
$jira-box-shadow: 0 1px 2px 0 rgba(9, 30, 66, 0.33);
$small-font: 0.8em;